.contact-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;

  & .max-width {
    width: 100%;
    max-width: 1010px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;

    & .google-map-wrapper {
      display: flex;
      flex-grow: 1;

      & .map {
        display: flex;
        flex-grow: 1;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        & .spinner-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          z-index: 1;
        }

        & iframe {
          z-index: 2;
        }
      }
    }

    & .info-wrapper {
      display: flex;
      flex-grow: 0.4;

      & .info-list {
        width: 100%;
        max-width: calc(100vw - 4rem);
      }
    }
  }
}

.opening-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;

  & .opening-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
