<div *appInView class="container contact-wrapper">
  <div class="max-width">
    <div
      class="google-map-wrapper animate__animated animate__fadeInLeft animate__delay-30ms"
    >
      <div class="map mat-elevation-z8">
        <div class="spinner-wrapper">
          <mat-spinner></mat-spinner>
        </div>
        <iframe
          *ngIf="mapsUrl"
          style="height: 100%; width: 100%; border: 0"
          frameborder="0"
          [src]="mapsUrl"
        ></iframe>
      </div>
    </div>
    <div
      class="info-wrapper animate__animated animate__fadeInRight animate__delay-30ms"
    >
      <mat-selection-list
        class="info-list"
        [multiple]="false"
        [hideSingleSelectionIndicator]="true"
      >
        <a
          mat-list-item
          *ngIf="address"
          [href]="getLocationHref()"
          target="_blank"
        >
          <mat-icon matListItemIcon class="txt-warn">location_on</mat-icon>
          <div matListItemTitle class="txt-primary">
            {{ "contact.location.address" | translateText | async }}
          </div>
          <div matListItemLine class="txt-primary">
            {{ "contact.location.description" | translateText | async }}
          </div>
        </a>
        <a mat-list-item *ngIf="phoneNumber" [href]="'https://wa.me/' + phoneNumber">
          <mat-icon matListItemIcon class="txt-warn">call</mat-icon>
          <div matListItemTitle class="txt-primary">
            {{ "contact.phone.number" | translateText | async }}
          </div>
          <!-- <div matListItemLine>
            {{ "contact.phone.description" | translateText | async }}
          </div> -->
        </a>
        <a mat-list-item *ngIf="email" [href]="'mailto:' + email">
          <mat-icon matListItemIcon class="txt-warn">mail</mat-icon>
          <div matListItemTitle class="txt-primary">
            {{ "contact.email.address" | translateText | async }}
          </div>
          <!-- <div matListItemLine>
            {{ "contact.email.description" | translateText | async }}
          </div> -->
        </a>
        <a mat-list-item *ngIf="facebookUrl" [href]="facebookUrl">
          <mat-icon matListItemIcon class="txt-warn">facebook</mat-icon>
          <div matListItemTitle class="txt-primary">
            {{ "contact.facebook.title" | translateText | async }}
          </div>
          <!-- <div matListItemLine>
            {{ "contact.facebook.description" | translateText | async }}
          </div> -->
        </a>
        <a mat-list-item *ngIf="instagramUrl" [href]="instagramUrl">
          <mat-icon matListItemIcon class="txt-warn">photo_camera</mat-icon>
          <div matListItemTitle class="txt-primary">
            {{ "contact.instagram.title" | translateText | async }}
          </div>
          <!-- <div matListItemLine>
            {{ "contact.instagram.description" | translateText | async }}
          </div> -->
        </a>
      </mat-selection-list>
    </div>
  </div>
</div>
