.contact-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;

  & .max-width {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    & .google-map-wrapper {
      display: flex;
      flex-grow: 1;
      border-radius: 8px;

      & .map {
        display: flex;
        flex-grow: 1;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        & .spinner-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          z-index: 1;
        }

        & iframe {
          z-index: 2;
        }
      }
    }

    & .info-wrapper {
      display: flex;
      flex-grow: 0.4;

      & .info-list {
        width: 100%;
        max-width: calc(100vw - 4rem);
      }
    }
  }
}
