<div *appInView class="welcome-wrapper">
  <div class="max-width">
    <div
      class="visit-card animate__animated animate__fadeInLeft animate__delay-30ms"
    >
      <div class="image-wrapper">
        <img src="assets/img/huis.jpeg" alt="bezoek" class="mat-elevation-z8" />
      </div>
    </div>
    <div
      class="welcome-message animate__animated animate__fadeInRight animate__delay-30ms"
    >
      <span class="title txt-primary">
        {{ "welcome.subTitle" | translateText | async }}
      </span>
      <p class="txt-primary">
        {{ "welcome.description" | translateText | async }}
      </p>
      <a mat-raised-button color="warn" class="txt-accent round-button" href="#contact">
        {{ "welcome.button" | translateText | async }}
      </a>
    </div>
  </div>
</div>
