<div class="welcome-wrapper">
  <div class="max-width">
    <div class="visit-card">
      <div class="image-wrapper">
        <img src="assets/img/huis.jpeg" alt="bezoek" />
      </div>
    </div>
    <div class="welcome-message">
      <span class="title txt-primary">
        {{ "welcome.subTitle" | translateText | async }}
      </span>
      <p class="txt-primary">
        {{ "welcome.description" | translateText | async }}
      </p>
      <button mat-raised-button color="warn" class="txt-accent">
        {{ "welcome.button" | translateText | async }}
      </button>
    </div>
  </div>
</div>
