<div class="welcome-wrapper">
  <div class="max-width">
    <div class="visit-card">
      <div class="image-wrapper">
        <img src="assets/img/huis.jpeg" alt="bezoek" />
      </div>
    </div>
    <div class="welcome-message">
      <span class="title txt-primary">De Badeendjes</span>
      <p class="txt-primary">
        Kinderopvang De Badeendjes staat voor kwaliteit. Professioneel,
        gestructureerd, schoon en veilig. Wij bieden uw kind een vertrouwde en
        beschermde omgeving aan.
      </p>
      <button mat-raised-button color="warn" class="txt-accent">
        Kom kennis maken
      </button>
    </div>
  </div>
</div>
