<div *appInView class="about-wrapper">
  <span
    class="message txt-accent animate__animated animate__fadeInUp animate__delay-30ms"
  >
    {{ "about.message" | translateText | async }}
  </span>
  <div class="cards-wrapper max-width">
    <div
      class="card-content mat-elevation-z8 bg-accent animate__animated animate__zoomIn animate__delay-30ms"
    >
      <mat-icon class="txt-primary">home</mat-icon>
      <span class="txt-warn">
        {{ "about.cardOne.title" | translateText | async }}
      </span>
      <p class="txt-primary">
        {{ "about.cardOne.description" | translateText | async }}
      </p>
    </div>
    <div
      class="card-content mat-elevation-z8 bg-accent animate__animated animate__zoomIn animate__delay-30ms"
    >
      <mat-icon class="txt-primary">shield_with_heart</mat-icon>
      <span class="txt-warn">
        {{ "about.cardTwo.title" | translateText | async }}
      </span>
      <p class="txt-primary">
        {{ "about.cardTwo.description" | translateText | async }}
      </p>
    </div>
    <div
      class="card-content mat-elevation-z8 bg-accent animate__animated animate__zoomIn animate__delay-30ms"
    >
      <mat-icon class="txt-primary">moving</mat-icon>
      <span class="txt-warn">
        {{ "about.cardThree.title" | translateText | async }}
      </span>
      <p class="txt-primary">
        {{ "about.cardThree.description" | translateText | async }}
      </p>
    </div>
  </div>
</div>

<div *appInView class="container opening-wrapper">
  <app-title
    title="opening.title"
    icon="spa"
    titleColor="accent"
    iconColor="warn"
  ></app-title>
  <span
    class="remark max-width txt-accent animate__animated animate__fadeIn animate__delay-60ms"
  >
    {{ "opening.remark" | translateText | async }}
  </span>
  <div
    class="opening-list-wrapper max-width animate__animated animate__fadeInUp animate__delay-60ms"
  >
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon class="txt-warn">date_range</mat-icon>
        <div matListItemTitle class="txt-accent">
          {{ "opening.openDays" | translateText | async }}
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon class="txt-warn">schedule</mat-icon>
        <div matListItemTitle class="txt-accent">
          {{ "opening.openTime" | translateText | async }}
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon class="txt-warn">date_range</mat-icon>
        <div matListItemTitle class="txt-accent">
          {{ "opening.closedDays" | translateText | async }}
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon class="txt-warn">schedule</mat-icon>
        <div matListItemTitle class="txt-accent">
          {{ "opening.closedTime" | translateText | async }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
