<div class="about-wrapper">
  <span class="message txt-accent">
    Kleinschalige en flexibele kinderopvang op maat. Onze opvang voor kinderen
    (0 - 12 jaar) vindt plaats in een huiselijke sfeer. Zo ziet je kind altijd
    hetzelfde vertrouwde gezicht!
  </span>
  <div class="cards-wrapper">
    <div class="card-content mat-elevation-z8 bg-accent">
      <mat-icon class="txt-primary">home</mat-icon>
      <span class="txt-warn">Huiselijk</span>
      <p class="txt-primary">Opvang vindt plaats in een huiselijke sfeer</p>
    </div>
    <div class="card-content mat-elevation-z8 bg-accent">
      <mat-icon class="txt-primary">shield_with_heart</mat-icon>
      <span class="txt-warn">Vertrouwd</span>
      <p class="txt-primary">Het vertouwde gezicht van de gastouder</p>
    </div>
    <div class="card-content mat-elevation-z8 bg-accent">
      <mat-icon class="txt-primary">moving</mat-icon>
      <span class="txt-warn">Flexibel</span>
      <p class="txt-primary">Onze opvang is flexibel zonder zorgen</p>
    </div>
  </div>
</div>
