<div class="team-wrapper">
  <div class="max-width">
    <div class="visit-card">
      <div class="image-wrapper">
        <img src="assets/img/huis.jpeg" alt="bezoek" />
      </div>
    </div>
    <div class="welcome-message">
      <span class="title txt-primary"> {{ 'team.subTitle' | translateText | async }}</span>
      <p class="txt-primary">
        {{ 'team.description' | translateText | async }}
      </p>
      <a mat-raised-button color="warn" class="txt-accent" href="#contact">
        {{ 'team.button' | translateText | async }}
      </a>
    </div>
  </div>
</div>
