.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  & .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    & p {
      text-align: center;
      margin: 0;
    }

    & .horizontal {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}