.header-wrapper {
  background: url(/assets/img/kids.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  margin: 0 -2rem;

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 5rem;
    z-index: 2;

    & .logo {
      max-width: 500px;

      & h1 {
        font-family: "Amatic SC", cursive;
        font-size: 72px;
        font-weight: 700;
      }

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  & .wave {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 -2rem;
  }
}
