<app-hamburger-menu
  (click)="sidenav.toggle()"
  [active]="sidenav.opened"
></app-hamburger-menu>
<app-call></app-call>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'" class="sidenav bg-primary">
    <app-sidenav
      [open]="sidenav.opened"
      (linkClicked)="sidenav.close()"
    ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content id="scroll-content" class="sidenav-content">
    <div class="content bg-accent">
      <!-- header -->
      <section id="header" class="bg-primary">
        <app-header></app-header>
      </section>
      <!-- welcome -->
      <section id="welcome" class="bg-accent">
        <app-title title="welcome.title" icon="spa"></app-title>
        <app-welcome></app-welcome>
        <app-title title="team.title" icon="spa"></app-title>
        <app-team></app-team>
      </section>
      <app-wave-divider color="#eff8f7" bgColor="#31a4a7"></app-wave-divider>
      <!-- about -->
      <section id="about" class="bg-primary">
        <app-title
          title="about.title"
          icon="spa"
          titleColor="accent"
          iconColor="warn"
        ></app-title>
        <app-about></app-about>
      </section>
      <app-wave-divider color="#31a4a7" bgColor="#eff8f7"></app-wave-divider>
      <!-- contact -->
      <section id="contact" class="bg-accent">
        <app-title title="contact.title" icon="spa"></app-title>
        <app-contact></app-contact>
      </section>
      <!-- footer -->
      <section id="footer" class="bg-warn">
        <app-footer></app-footer>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
