.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;

  & .sidenav {
    width: 100%;
    max-width: 300px;
  }

  & .sidenav-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-behavior: smooth;

    & .toolbar {
      display: flex;
      align-items: center;
      min-height: 64px;

      & .title {
        font-family: "Amatic SC", cursive;
        margin-left: 80px;
        font-size: 32px;
      }
    }

    & .content {
      display: flex;
      flex-direction: column;

      & section {
        padding: 0 2rem;
      }
    }
  }
}
