@import "./theme.scss";

// vars
$color-primary: #31a4a7;
$color-accent: #eff8f7;
$color-warn: #eb751e;

// Global styles
html,
body {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

// helpers
.bg-primary {
  background-color: $color-primary;
}
.bg-accent {
  background-color: $color-accent;
}
.bg-warn {
  background-color: $color-warn;
}
